@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: -apple-system, system-ui, 'Inter', sans-serif;
}

.cours {
    width: 100%;
    background: none;
    border-radius: 0px !important;
    box-shadow: none;
    border-bottom: 1px solid #00000022;
    margin-top: 5px;
}

.coursleftBar {
    border-radius: 0 !important;
}

.liste {
    padding-left: 0 !important;
}