#tabsPageList {
    overflow: hidden !important;
}

#pronoteIdent {
    width: 400px !important;
}

#menuContent {
    height: 48px !important;
}

#appContent {
    margin-top: 52px !important;
}

#menuContent {
    animation: none !important;
    width: 400px !important;
    box-shadow: none !important;
}

.naviBtn {
    margin-top: 3px;
}

.daysRoll {
    margin: 0px 20px;
}

#rnNext {
    right: 0;
}