#menuContent {
	background : linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url('https://i.ibb.co/6rG3n1S/image.png');
	background-size: contain;
}

.cours, .subject {
	background : linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%),url('https://i.ibb.co/6rG3n1S/image.png');
	background-size: contain;
}

body {
	background : linear-gradient(0deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.7) 100%),url('https://i.ibb.co/6rG3n1S/image.png');
}

:root {
	--theme-color: #000;
}