@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#menuContent {
    border-top: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    padding-bottom: 0;
    position: absolute;
    top: 0;
}

.cours {
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid #00000022;
}

.modal {
    border-radius: 5px;
}

#userModalOver {
    border-radius: 5px !important;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: #00000088;
}

#appContent {
    margin-top: 56px;
}

#menu {
    justify-content: flex-start;
    padding-top: 20px;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background: #00000099;
}

#closePan {
    position: absolute;
    bottom: 0;
}

@keyframes menu {
    0% {
        transform: translateX(-10%) translateY(0);
        
    }
    100% {
        transform: translateX(0%) translateY(0);
    }
}

#menu * {
    animation: none;
}