body {
	background: #000 !important;
}

:root {
	--theme-color: #000;
	--bg: #d66500 !important;
}

* {
	font-family: Arial;
}

#menuContent {
	background : #d66500;
}

.subjectName {
	background : #d66500 !important;
}