@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Fira Code', monospace;
}

:root {
    --rgb-color: #0066ff;
    animation: rgb 1s infinite !important;
}

.cours {
    opacity: 100%;
    box-shadow: 0px 2px 12px var(--rgb-color) !important;
    border: 1px solid var(--rgb-color) !important;
}

.subject {
    opacity: 100%;
    box-shadow: 0px 2px 12px var(--bg) !important;
    border: 1px solid var(--bg) !important;
}

.coursleftBar {
    background-color: var(--rgb-color) !important;
}

@media screen and (prefers-color-scheme: dark) {
    
}