body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.loginStep {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    flex-direction: column;
}

#mainStep {
    display: flex;
}

.welcomeScreen {
    margin: 30px;
}

.welcomeScreen h1 {
    font-size: 48px;
    line-height: 48px;
    width: 70vw;
    margin-top: 7vh;

    background: linear-gradient(50deg, #0066ff, #a5c9ff, #3f6db2);
    background-size: 600% 600%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-animation: WelcomeGradient 5s ease infinite;
    -moz-animation: WelcomeGradient 5s ease infinite;
    animation: WelcomeGradient 5s ease infinite;
}

.welcomeScreen p {
    font-size: 18px;
    font-weight: 500;
    width: 70vw;
    margin-top: 10px;
}

@-webkit-keyframes WelcomeGradient {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@-moz-keyframes WelcomeGradient {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}
@keyframes WelcomeGradient {
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

.welcomeScreen .loginOptions {
    margin-top: 40px;
}

.loginOptions .option {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
}

.loginOptions .option span {
    font-size: 28px;
    margin-right: 10px;
}

.loginOptions .option div h3 {
    font-size: 18px;
    font-weight: 500;
}

.loginOptions .option div p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    opacity: 50%;
}

.menuNav {
    display: flex;
    padding: 12px 20px;
    align-items: center;
    border-bottom: 1px solid #00000022;
}

.menuNav div {
    margin-left: 20px;
    font-weight: 500;
    margin-top: -1px;
}

.etabCheck {
    padding: 20px;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.help {
    color: #0066ff;
    text-decoration: underline;
}

.foundURLPrompt {
    border: 1px solid #00000022;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.foundURLPrompt small {
    opacity: 50%;
    font-weight: 500;
}

input {
    border: 1px solid #00000022;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}

button {
    border: none;
    background-color: #0066ff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}

#foundURL, #foundENT {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:root {
    --theme-color: #ffffff;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --theme-color: #151515;
    }

    body {
        background-color: #151515;
    }

    * {
        color: #fff;
    }

    .loginOptions .option {
        background-color: #222;
    }

    input {
        color: #fff;
        background: none;
        border-color: #ffffff11;
    }

    .menuNav {
        border-bottom: 1px solid #ffffff15;
    }

    .foundURLPrompt {
        border: 1px solid #ffffff11;
    }
}

@media screen and (max-height: 650px) {
    .welcomeScreen h1 {
        margin-top: 0px;
        font-size: 32px;
        line-height: 32px;
        width: 80vw;
    }
}