<div id="slide" class="liste">
    <div class="cours updateHeader" style="--off: 0ms">
        <img src="../assets/about.png">
        <h1>Pronote+ v3</h1>
    </div>

    <div class="part">
        Version des librairies
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <div class="cours_topData">
            <h3>papillon version <span id="version"></span></h3>
            <p>node-pronote version 1.1 beta</p>
            <p>aihvah-view version 1.0</p>
            <p>papillonUI version 2.1 beta</p>
        </div>
    </div>

    <div class="part">
        Crédits
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <div class="cours_topData">
            <h3>crédits à Adrien Navratil</h3>
            <p>éditeur original de pronote-api, qui permet à Pronote+ d'exister</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <div class="cours_topData">
            <h3>crée par Vince Linise</h3>
            <p>(et j'adore faire avancer ce projet de jour en jour)</p>
        </div>
    </div>

    <div class="part">
        Contact
    </div>
    <a href="https://instagram.com/levraicnivtwelve"><div class="cours file feature" style="--off: 50ms">
        <div class="cours_topData">
            <p>instagram de Vince</p>
        </div>
    </div></a>
    <a href="https://github.com/ecnivtwelve/Papillon"><div class="cours file feature" style="--off: 50ms">
        <div class="cours_topData">
            <p>code source du projet</p>
        </div>
    </div></a>
</div>

<script>
    $('#version').text(version);
    progressEnd();
    setMenuTabContent("");
</script>