<div class="part">
    Absences
</div>
<div id="ListeAbsences" class="liste">
    <div class="cours edtSkeleton" style="--posDel: 0ms;"></div>
</div>

<div class="part">
    Retards
</div>
<div id="ListeRetards" class="liste">
    <div class="cours edtSkeleton" style="--posDel: 100ms;"></div>
</div>

<script>
    function mainView_abs() {
        let half = new Date(rn);
        half.setDate(half.getDate() + 1);
        let from = half.toISOString().split("T")[0]

        fetch(`https://ams01.pronote.plus/absences?token=${token}`)
        .then((resp) => resp.json())
        .then(function(data) {
            setTimeout(() => {
            if(data.message !== undefined) {
                window.location.href = 'login/';
            }

            $('#ListeAbsences').html("");
            $('#ListeRetards').html("");

            console.log(data)
            
            resp = data.data.absences;
            console.log(resp)

            if(resp == null) {
                $('#ListeAbsences').append(`
                    <div class="cours file" style="--off: 0ms">
                        <span class="material-symbols-outlined">
                            person_off
                        </span>
                        <div>
                            <h3>Pas d'absences</h3>
                            <p>Bravo pour ton assiduité !</p>
                        </div>
                    </div>
                `);
            }
            
            for(absence_id in resp.absences) {
                let absence = resp.absences[absence_id];
                console.log(absence)

                let dateFrom = new Date(parseInt(absence.from));
                let from = dateFrom.toLocaleString();
                let dateTo = new Date(parseInt(absence.to));
                let to = dateTo.toLocaleString();

                if(absence.reason == "" || absence.reason == null) {
                    absence.reason = "Aucune raison";
                }

                $('#ListeAbsences').append(`
                    <div class="cours file" style="--off: 0ms">
                        <span class="material-symbols-outlined">
                            person_off
                        </span>
                        <div>
                            <h3>${absence.reason}</h3>
                            <p>du ${from} au ${to}</p>
                            <small>${absence.hours} heures manquée(s)</small>
                        </div>
                    </div>
                `);
            }

            if(resp.absences.length == 0) {
                $('#ListeAbsences').append(`
                    <div class="cours file" style="--off: 0ms">
                        <span class="material-symbols-outlined">
                            person_off
                        </span>
                        <div>
                            <h3>Pas d'absences</h3>
                            <p>Bravo pour ton assuiduité !</p>
                        </div>
                    </div>
                `);
            }

            for(delay_id in resp.delays) {
                let absence = resp.delays[delay_id];
                console.log(absence)

                let dateFrom = new Date(parseInt(absence.date));
                let from = dateFrom.toLocaleString();

                if(absence.reason == "" || absence.reason == null) {
                    absence.reason = "Aucune raison";
                }

                $('#ListeRetards').append(`
                    <div class="cours file" style="--off: 0ms">
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                        <div>
                            <h3>${absence.reason}</h3>
                            <p>${absence.minutesMissed} minutes de retard</p>
                            <small>${absence.justification}</small>
                        </div>
                    </div>
                `);
            }
        });

        if(resp.delays.length == 0) {
                $('#ListeRetards').append(`
                    <div class="cours file" style="--off: 0ms">
                        <span class="material-symbols-outlined">
                            person_off
                        </span>
                        <div>
                            <h3>Pas de retards</h3>
                            <p>Bravo pour ton assuiduité !</p>
                        </div>
                    </div>
                `);
            }
        }, 200);
    }
    mainView_abs();
</script>