<!-- <div> affichant la liste de cours -->
<div id="ListeCours" class="liste">
    <div class="cours loadingCours" style="--off: 0ms">
        <div class="coursleftBar"></div>
        <div class="cours_data">
            <div class="cours_topData">
                <h3>Chargement en cours...</h3>
                <p>Récupération des données</p>
                <div class="loadingCoursBar">
                    <div class="loadingCoursBarFill"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // fonction permettant d'ajouter les 0 devant les heures et les minutes
    function min_lead(dt) { 
        return (dt.getMinutes() < 10 ? '0' : '') + dt.getMinutes();
    }

    setTimeout(() => {
        mainView_Edt();  
    }, 100);

    function mainView_Edt() {
        // assignation de l'heure dans la variable from
        let from = rn.toISOString().split("T")[0]
        // démarrage de la progressbar de chargement
        progressStart();
        
        // fetch des serveurs pour obtenir l'emploi du temps avec le token et la date
        fetch(`https://ams01.pronote.plus/edt?token=${token}&from=${from}`)
        .then((resp) => resp.json())
        .then(function(data) {
            
            // gestion des erreurs
            if(data.errors !== undefined) {
                tokenRefreshBkg();
            }
            // termie le chargement
            progressEnd();

            // si réussi -> enregistre le cache de l'edt
            localStorage.setItem('cache_edt', JSON.stringify(data));
            // affiche graphiquement les données de l'edt
            parse_Edt(data);
        });
    }

    // fonctions qui calculent les différences entre 2 dates
        // en heures
    function getDifferenceInHours(date1, date2) {
        const diffInMs = Math.abs(date2 - date1);
        return diffInMs / (1000 * 60 * 60);
    }

        // en minutes
    function getDifferenceInMinutes(date1, date2) {
        const diffInMs = Math.abs(date2 - date1);
        return diffInMs / (1000 * 60);
    }

    // variable (jsp a quoi elle sert déja)
    lastfinCours = 0;

    // fonction qui affiche les données d'edt
    function parse_Edt(data) {
        try{          
            // json parsé -> resp
            let resp = data.data.timetable;

            if(resp == null) {
                // si il n'y a pas de cours aujourd'hui
                if(EdtRefLimit == 0) {
                    // catch de bugs
                    EdtRefLimit = 1;
                    tokenRefreshBkg();
                }
            }
            else {
                // vide la liste actuelle de cours
                $('#ListeCours').html(``);

                allCourses = data.data.timetable;

                // donne le nombre de cours dans length + les affiche en sous-titre
                let nbCours = resp.length;
                setMenuTabContent(nbCours + " cours pour cette journée");

                // si y'a pas de cours (0 cours)
                if(nbCours == 0) {
                    // affiche en sous-titre
                    setMenuTabContent("Pas de cours pour cette journée");
                }

            // loop pour chaque cours
            for(course in resp) {
                // garde en mémoire le début et la fin du cours
                let debCours = new Date(resp[course].from);
                let finCours = new Date(resp[course].to);

                // je sais plus ça
                curentFinCours = lastfinCours;
                lastfinCours = finCours;

                // règle l'heure avec le fuseau horaire car Pronote est en retard jsp pourquoi
                var offset = new Date().getTimezoneOffset();
                debCours.setMinutes(debCours.getMinutes() + offset);
                let heureMinDebut = debCours.getHours() + "h" + min_lead(debCours);

                // je sais plus non plus
                finCours.setMinutes(finCours.getMinutes() + offset);
                let heureMinFin = finCours.getHours() + "h" + min_lead(finCours);

                // calcule si le cours est long
                let diff = getDifferenceInMinutes(curentFinCours, debCours);

                // calcule le temps de cours
                let length = getDifferenceInMinutes(debCours, finCours);

                // remplacements de texte si jamais : variables vides
                if(resp[course].subject == null) {
                    resp[course].subject = resp[course].status;
                }

                if(resp[course].teacher == null) {
                    resp[course].teacher = "Non précisé";
                }

                if(resp[course].room == null) {
                    resp[course].room = "inconnue";
                }
                
                // status si c'est un cours avec un état particulier
                let status = "";

                if(resp[course].subject !== null) {
                    if(resp[course].status !== null) {
                        status = `<span class="status">${resp[course].status}</span>`
                    }
                }

                let cancelled = false;
                // si le cours est annulé, ajoute un status en conséquence
                if(resp[course].isCancelled || resp[course].status == "Prof. absent" || resp[course].status == "Prof./pers. absent") {
                    status = `<span class="status statusCancelled">${resp[course].status}</span>`
                    cancelled = true;
                }

                // si le cours est une retenue, ajoute un status en conséquence
                let retenue = false;
                if(resp[course].subject.includes("Retenue")) {
                    status = `<span class="status">Sanction</span>`
                    retenue = true;
                }

                // wtf c'est quoi ça ????
                let simpleSubject = resp[course].subject.toLowerCase();
                simpleSubject = simpleSubject.normalize("NFD").replace(/[\u0300-\u036f]/g, "")

                // liste de tous les cours (?)
                let allClasses = "";
                
                // string pour la durée du cours
                let lengthString = (length / 60) + "h";

                // passage en minutes si c'est moins de 1h
                if (length < 60) {
                    lengthString = length + "min";
                }

                // ajout des heures ET des minutes si ca dure plus d'1h
                if (length % 60 !== 0 && length > 60) {
                    lengthString = (parseInt(length / 60)) + "h" + (length % 60) + "min";
                }

                // si c'est un cours de plus de 1h, il est long
                if (length > 60) {
                    allClasses += " coursLong";
                }

                // si le cours a 20min d'écart avec le précédent, il est "écarté"
                if (diff > 20) {
                    if(course > 0) {
                        allClasses += " coursEcart";
                    }
                }

                // si y'a déja "salle" dans a salle, l'éffacer
                if(resp[course].room.toLowerCase().split(" ")[0] == "salle") {
                    let newname = resp[course].room.split(" ")
                    newname.shift();
                    resp[course].room = newname.join(' ');
                }


                // si 1=1, afficher le cours -> tt le temps afficher le cours
                if (retenue) {
                    $('#ListeCours').append(`
                        <div class="cours realCours ${allClasses} colored" style="--off: ${course * 50}ms; --bg:#ff5050;">
                            <div class="coursleftBar"></div>
                            <div class="cours_data">
                                <div class="courd">
                                    <h3>🚨 ${resp[course].subject} ${status}</h3>
                                    <p><span class="teacher">${resp[course].teacher}</span></p>
                                </div>
                                <div class="cours_btmData">
                                    <p>Salle ${resp[course].room}</p>
                                    <p class="when"><span class="hrdeb ">${heureMinDebut}</span> <span>à ${heureMinFin}</span><span class="length">${lengthString} de cours</span></p>
                                </div>
                            </div>
                        </div>
                    `);
                }
                else if (cancelled == true) {
                    $('#ListeCours').append(`
                        <div class="cours realCours ${allClasses} colored" style="--off: ${course * 50}ms;">
                            <div class="coursleftBar"></div>
                            <div class="cours_data">
                                <div class="courd">
                                    <h3><span class="cancelled">${resp[course].subject}</span> ${status}</h3>
                                    <p><span class="teacher cancelled">${resp[course].teacher}</span></p>
                                </div>
                                <div class="cours_btmData cancelled">
                                    <p>Salle ${resp[course].room}</p>
                                    <p class="when"><span class="hrdeb ">${heureMinDebut}</span> <span>à ${heureMinFin}</span><span class="length">${lengthString} de cours</span></p>
                                </div>
                            </div>
                        </div>
                    `);
                }
                else if(1==1) {
                    $('#ListeCours').append(`
                        <div class="cours realCours ${allClasses} colored" style="--off: ${course * 50}ms; --bg:${resp[course].color};">
                            <div class="coursleftBar"></div>
                            <div class="cours_data">
                                <div class="courd">
                                    <h3>${resp[course].subject} ${status}</h3>
                                    <p><span class="teacher">${resp[course].teacher}</span></p>
                                </div>
                                <div class="cours_btmData">
                                    <p>Salle ${resp[course].room}</p>
                                    <p class="when"><span class="hrdeb">${heureMinDebut}</span> <span>à ${heureMinFin}</span><span class="length">${lengthString} de cours</span></p>
                                </div>
                            </div>
                        </div>
                    `);
                }
            }

            // si y'a pas de cours, afficher un message
            if(resp.length === 0) {
                $('#ListeCours').append(`
                    <div class="cours" style="--off: 0ms">
                        <div class="coursleftBar"></div>
                        <div class="cours_data">
                            <div class="cours_topData">
                                <h3>😴 Aucun cours</h3>
                                <p>Profite bien de cette journée !</p>
                            </div>
                        </div>
                    </div>
                `);
            }
        }
        }
        catch(e) {
            // pour éviter les crashs de la webapp
        }
    }
</script>