<div id="ListeEvals" class="liste">

</div>

<script>
    if(localStorage.getItem("cache_evals") !== null){
        parse_Evals(JSON.parse(localStorage.getItem("cache_evals")));
        mainView_Evals();
    }
    else {
        mainView_Evals();
    }

    function mainView_Evals() {
        let half = new Date(rn);
        half.setDate(half.getDate() + 1);
        let from = half.toISOString().split("T")[0]

        progressStart();
        $.get(`https://ams01.pronote.plus/evaluations?token=${token}`, function( data ) {
            
            if(JSON.parse(data).errors !== undefined) {
                tokenRefreshBkg()
            }
            progressEnd();
            
            localStorage.setItem('cache_evals', JSON.stringify(data));
            parse_Evals(data);
        });
    }

    function parse_Evals(data) {
            let resp = JSON.parse(data).data.evaluations;
            console.log(resp)

            $('#ListeEvals').html('');

            if(resp.length == 0) {
                $('#ListeEvals').append(`
                    <div class="subject" style="--off: 0ms;--bg:#0066ff">
                        <div class="subjectName" style="--bg:#0066ff">
                            <p>Information</p>
                        </div>
                        <div class="subjectInner">
                            <div class="mark" style="--off: 0ms">
                                <div class="markName">
                                    <p>Aucune compétence.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                `);
            }
            else {

            for(id_s in resp) {
                subject = resp[id_s];
                $('#ListeEvals').append(`
                    <div class="subject subjectCard" style="--off: ${id_s * 50}ms;--bg:${subject.color};margin">
                        <div class="subjectName" style="--bg:${subject.color}">
                            <p>${subject.name}</p>
                        </div>
                        <div class="subjectInner" id="comp_${id_s}"></div>
                    </div>
                `);

                let evals = subject.evaluations;
                for(eval_id in evals) {
                    let eval = evals[eval_id];

                    $('#comp_'+id_s).append(`
                        <div class="mark" style="--off: ${eval_id * 50}ms">
                            <div class="markName">
                                <p>${eval.name}</p>
                                <p class="p2">${eval.levels[0].name}</p>
                            </div>
                            <div id="values_${eval.id}" class="markValue compValue">
                                
                            </div>
                        </div>
                    `);

                    let levels = eval.levels;
                    for(level_id in levels) {
                        let level = levels[level_id];
                        l = level.value.short;

                        let val = "0";
                        let mode = 0;
                        
                        if(l == "A+") {
                            mode = 4;
                        }

                        if(l == "+" || l == "A" || l == "4" || l == "A+") {
                            val = "4";
                        }
                        else if(l == "*" || l == "B" || l == "3" || l == "A") {
                            val = "3";
                        }
                        else if(l == "xx" || l == "C"  || l == "2" || l == "C") {
                            val = "2";
                        }
                        else if(l == "++" || l == "D"  || l == "1" || l == "E") {
                            val = "1";
                        }
                        
                        if(l == "A") {
                            if(mode == 4) {
                                val = "3";
                            }
                        }

                        let img = `../assets/${val}_comp.svg`;

                        $(`#values_${eval.id}`).append(`
                            <img src="${img}">
                        `)
                    }
                }
            }
            }
    }
</script>