<div id="ListeDevoirs" class="liste">

</div>

<script>
    function mainView_Hw() {
        $('#ListeDevoirs').empty();
        let half = new Date(rn);

        let displacement = 0;
        if(dateChangedOnce === true) {
            displacement = -1;
        }

        half.setDate(half.getDate() + displacement);
        console.log(half)
        let from = half.toISOString().split("T")[0]
        console.log(from)
        progressStart();
        $.get(`https://api.allorigins.win/get?url=${encodeURIComponent(`http://206.189.96.57:35500/hw?token=${token}&from=${from}&rand=${uuidv4()}`)}`, function( data ) {
            if(JSON.parse(data.contents).message !== undefined) {
                window.location.href = 'login/';
            }
            progressEnd();
            
            let resp = JSON.parse(data.contents).data.homeworks;

            for(hw in resp) {
                let classes = "";

                $('#ListeDevoirs').append(`
                    <div id="hw_${resp[hw].id}" class="cours ${classes}" style="--off: ${hw * 50}ms", '${from}')">
                        <div style="--bg:${resp[hw].color}" class="coursleftBar"></div>
                        <div class="cours_data">
                            <div class="cours_topData">
                                <p>${resp[hw].subject}</p>
                                <div class="content">
                                    ${resp[hw].description}
                                </div>
                            </div>
                        </div>
                    </div>
                `);
            }

            if(resp.length === 0) {
                $('#ListeDevoirs').append(`
                    <div class="cours" style="--off: 0ms">
                        <div class="coursleftBar"></div>
                        <div class="cours_data">
                            <div class="cours_topData">
                                <h3>🥳 Pas de travail à faire</h3>
                                <p>C'est l'ocassion de profiter de ta journée !</p>
                            </div>
                        </div>
                    </div>
                `);
            }
        });

        setMenuTabContent(`pour le ${getRn(1)}`);
        if(dateChangedOnce === true) {
            setMenuTabContent(`pour le ${getRn(0)}`);
        }
    }
    mainView_Hw();
</script>