<div id="ListMark" class="liste">

</div>

<script>
    markID = q;
    mark = allMarks[q];
    
    mixpanel.track('Détail de la note ouvert', {
      'source': "PronotePlus",
    });

    markname = "";
    if(mark.title !== "") {
        markname = mark.title;
    } else {
        markname = "Aucun nom";
    }

    value = 0

    if(mark.value !== null) {
        value = ((mark.value/mark.scale)*20).toFixed(2);
    } else {
        value = "N. noté";
    }

    date = new Date(mark.date);
    dateString = date.toLocaleDateString();

    $(`#ListMark`).append(`
        <div class="cours" style="--off: 0ms">
            <div style="--bg:#0066ff" class="coursleftBar"></div>
            <div class="cours_data">
                <div class="cours_topData">
                    <h3>${value}<small>/${mark.scale}</small></h3>
                    <p>${markname}</p>
                </div>
                <div class="cours_btmData">
                    <div>
                        <p>👀 Moyenne : ${mark.average}/${mark.scale}</p>
                        <p>👹 Note originale : ${mark.value}/${mark.scale}</p>
                        <p>👭 Coeff : x${mark.coefficient}</p>
                        <p>👍 Meilleure note : ${mark.max}/${mark.scale}</p>
                        <p>🤯 Moins bonne note : ${mark.min}/${mark.scale}</p>
                    </div>
                    <p class="when">${dateString}</p>
                </div>
            </div>
        </div>
    `)

    setMenuTabContent("Détail de la note");
</script>