<div id="ListeOptions" class="liste">
    <a href="#" onclick="changeOrder()"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            sort
        </span>
        <div class="cours_topData">
            <h3>Changer l'ordre</h3>
            <p>Passer en affichage chronologique</p>
        </div>
    </div></a>
</div>
<div id="ListeNotes" class="liste">
    <div class="cours loadingCours" style="--off: 0ms">
        <div class="coursleftBar"></div>
        <div class="cours_data">
            <div class="cours_topData">
                <h3>Chargement en cours...</h3>
                <p>Récupération des notes</p>
                <div class="loadingCoursBar">
                    <div class="loadingCoursBarFill"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/average.js"></script>
<script>
    try{
    order = 0;

    function changeOrder() {
        if(order == 0) {
            order = 1;
            order_Chrono();
        } else {
            order = 0;
            parse_marks(JSON.parse(localStorage.getItem("cache_marks")));
        }
    }

    if(localStorage.getItem("cache_marks") !== null){
        // parse_marks(JSON.parse(localStorage.getItem("cache_marks")));
        mainView_Marks();
    }
    else {
        mainView_Marks();
    }

    function mainView_Marks() {
        let half = new Date(rn);
        half.setDate(half.getDate() + 1);
        let from = half.toISOString().split("T")[0]

        progressStart();
        $.get(`https://ams01.pronote.plus/marks?token=${token}&rand=${uuidv4()}`, function( data ) {

            if(JSON.parse(data).errors !== undefined) {
                tokenRefreshBkg()
            }
            progressEnd();

            localStorage.setItem('cache_marks', JSON.stringify(data));
            parse_marks(data);
        });
    }

    function parse_marks(data) {
        $('#ListeNotes').html('');
            allMarks = [];
        
            let resp = JSON.parse(data).data.marks.subjects;
            if(resp.length == 0) {
                $('#ListeNotes').append(`
                    <div class="subject" style="--off: 0ms;--bg: #0066ff;">
                        <div class="subjectName" style="--bg:#0066ff">
                            <p>Information</p>
                        </div>
                        <div class="subjectInner">
                            <a href="#"><div class="mark" style="--off: ${50}ms">
                                <div class="markName">
                                    <p>Aucune note publiée.</p>
                                </div>
                            </div></a>
                        </div>
                    </div>
                `);
            }
            else {

            for(id_s in resp) {
                resp[id_s].marks.sort(function(a, b) {
                    return new Date(a.date) - new Date(b.date);
                });
                resp[id_s].marks.reverse();
            }

            // order by latest mark date
            resp.sort(function(a, b) {
                return new Date(b.marks[0].date) - new Date(a.marks[0].date);
            });

            let AllAverages = 0;
            let AllAveragesStudent = 0;

            for(id_s in resp) {
                subject = resp[id_s];
                $('#ListeNotes').append(`
                    <div class="subject subjectCard" style="--off: ${id_s * 50}ms;--bg:${subject.color}; margin">
                        <div class="subjectName" style="--bg:${subject.color}">
                            <p>${subject.name}</p>
                        </div>
                        <div class="subjectInner" id="marks_${id_s}"></div>
                    </div>
                `);

                AllAverages = AllAverages + subject.averages.student;
                AllAveragesStudent = AllAveragesStudent + subject.averages.studentClass;

                let marks = subject.marks;

                for(mark_id in marks) {
                    try {
                        let mark = marks[mark_id];
                        
                        mark2push = mark;
                        mark2push.subject = subject.name;
                        mark2push.color = subject.color;
                        allMarks.push(mark2push);

                        let allMarksId = parseInt(allMarks.length) - 1;
                        
                        let markname = "";
                        if(mark.title !== "") {
                            markname = mark.title;
                        } else {
                            markname = "Aucun nom";
                        }
                        
                        let value = 0
                        
                        if(mark.value !== null) {
                            value = mark.value.toFixed(2);
                        } else {
                            value = "N. noté";
                        }

                        let styleClass = "";

                        if(mark_id % 2 == 0) {
                            styleClass = "even";
                        }
                        
                        $('#marks_'+id_s).append(`
                            <a href="#" onclick="viewQuery('mark', '${escapeHtml(markname)}', ${allMarksId}, 'marks', 'Notes')"><div class="mark ${styleClass}" style="--off: ${mark_id * 50}ms">
                                <div class="markName">
                                    <p>${markname}</p>
                                    <p class="p2">Coeff : x${mark.coefficient} – Moy. : ${mark.average}</p>
                                </div>
                                <div class="markValue">
                                    <p>${value}<small>/${mark.scale}</small></p>
                                </div>
                            </div></a>
                        `);
                    }
                    catch {
                        $('#marks_'+id_s).append(`
                            <a href="#"><div class="mark" style="--off: ${50}ms">
                                <div class="markName">
                                    <p>Quelque chose s'est mal passé.</p>
                                </div>
                            </div></a>
                        `);
                    }
                }
            }

            let averageStudent = AllAverages / resp.length;
            let averageStudentClass = AllAveragesStudent / resp.length;

            avr = averageStudent;
            avrClass = averageStudentClass;

            if(!isNaN(averageStudent)) {
                setMenuTabContent(`Moyenne générale : ${averageStudent.toFixed(2)}/20`);
            }
        }
    }

    function order_Chrono() {
        allMarks.sort(function(a, b) {
            return new Date(a.date) - new Date(b.date);
        });
        allMarks.reverse();

        $('#ListeNotes').html(`
            <div class="subject" style="--off: 0ms">
                <div class="subjectName" style="--bg:#0066ff">
                    <p>Toutes les notes</p>
                </div>
                <div class="subjectInner" id="marks_all"></div>
            </div>
        `);

        for(mark_id in allMarks) {
                    mark = allMarks[mark_id];

                    let markname = "";
                    if(mark.title !== "") {
                        markname = mark.title;
                    } else {
                        markname = "Aucun nom";
                    }

                    let value = 0

                    if(mark.value !== null) {
                        value = mark.value.toFixed(2);
                    } else {
                        value = "N. noté";
                    }

                    $('#marks_all').append(`
                    <a href="#" onclick="viewQuery('mark', '${escapeHtml(markname)}', ${mark_id}, 'marks', 'Notes')"><div class="mark" style="--off: ${mark_id * 50}ms">
                            <div class="markName">
                                <p>${markname}</p>
                                <p class="p2">${mark.subject} – x${mark.coefficient} – Moy. : ${mark.average}</p>
                            </div>
                            <div class="markValue">
                                <p>${value}<small>/${mark.scale}</small></p>
                            </div>
                        </div></a>
                    `);
                }
    }
}catch(e){
    //alert(e)
}
</script>