<div id="ListeNews" class="liste">

</div>

<script>
    function mainView_News() {
        let half = new Date(rn);
        half.setDate(half.getDate() + 1);
        let from = half.toISOString().split("T")[0]
        progressStart(4);

        fetch(`https://ams01.pronote.plus/news?token=${token}`)
        .then((resp) => resp.json())
        .then(function(data) { 
            if(data.errors !== undefined) {
                refreshToken();
            }
            progressEnd();
            
            let resp = data.data.infos;

            if (resp !== null) {

            resp.sort(function(a, b) {
                return new Date(a.date) - new Date(b.date);
            });
            resp.reverse();

            console.log(resp)

            for(news_id in resp) {
                let info = resp[news_id];

                let date = new Date(parseInt(info.date));
                let added = date.toLocaleDateString();

                if(info.title == null) {
                    info.title = "Information";
                }

                $('#ListeNews').append(`
                    <a onclick="viewQuery('info','${info.title}','${news_id}', 'news', 'Actualités');" href="#"><div class="cours file" style="--off: 0ms">
                        <span class="material-symbols-outlined">
                            newspaper
                        </span>
                        <div>
                            <h3>${info.title}</h3>
                            <p>${info.content}</p>
                            <small>ajouté le ${info.author}</small>
                        </div>
                    </div></a>
                `);
            }
        }
        else {
            $('#ListeNews').append(`
                <div class="cours file" style="--off: 0ms">
                    <span class="material-symbols-outlined">
                        newspaper
                    </span>
                    <div>
                        <h3>Aucune information</h3>
                        <p>Il n'y a aucune information à afficher.</p>
                    </div>
                </div>
            `);
        }
        });
    }
    mainView_News();
</script>