<div class="profile" id="profileModal">
    <div class="profileOver">
        <img id="profileAvatarInner">
        <h1 id="profileUserName"></h1>
        <p id="profileUserClass"></p>
    </div>
</div>

<div id="ListeUser" class="liste">

    <a href="#" onclick="viewQuery('user', 'Paramètres', '', 'profile', 'Mon profil')"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            settings
        </span>
        <div class="cours_topData">
            <h3>Paramètres</h3>
            <p>Changer le comportement de l'app</p>
        </div>
    </div></a>

    <a href="#" onclick="viewQuery('extensions', 'Extensions', '', 'profile', 'Mon profil')"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            extension
        </span>
        <div class="cours_topData">
            <h3>Extensions</h3>
            <p>Ajouter des fonctionnalités de la communauté</p>
        </div>
    </div></a>

    <a href="#" onclick="viewQuery('theme', 'Personnaliser l\'interface', '', 'profile', 'Mon profil')"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            palette
        </span>
        <div class="cours_topData">
            <h3>Personnaliser l'interface</h3>
            <p>Changer de police d'écriture, de thème, etc...</p>
        </div>
    </div></a>

    <div class="part">
        Personnaliser le profil
    </div>

    <a href="#" onclick="changeName()"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            record_voice_over
        </span>
        <div class="cours_topData">
            <h3>Changer de nom</h3>
            <p>Personnalisez comment vous souhaitez être appelé</p>
        </div>
    </div></a>

    <a href="#" onclick="changePic()"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            assignment_ind
        </span>
        <div class="cours_topData">
            <h3>Changer de photo de profil</h3>
            <p>Personnalisez comment vous souhaitez être affiché</p>
        </div>
    </div></a>

</div>

<script>
    document.getElementById("profileModal").style.background = `url('${avatar}')`;
    document.getElementById("profileAvatarInner").src = avatar;

    document.getElementById("profileUserName").innerHTML = myName;
    document.getElementById("profileUserClass").innerHTML = userEverything.studentClass.name + " - " + userEverything.establishmentsInfo[0].name;
</script>