<div id="ListeUser" class="liste">
    <div class="cours updateHeader" style="--off: 0ms">
        <img src="../assets/update.png">
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            bug_report
        </span>
        <div class="cours_topData">
            <h3>Réparation de plein de bugs</h3>
            <p>Pronote+ fonctionne encore mieux maintenant !</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            domain_verification
        </span>
        <div class="cours_topData">
            <h3>Amélioration de l'interface</h3>
            <p>Pour une expérience encore plus agréable !</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            android
        </span>
        <div class="cours_topData">
            <h3>Petits fix pour Android</h3>
            <p>Car il faut pas oublier ceux qui ont fait des mauvais choix dans la vie, comme celui d'acheter un Samsung 💀</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            extension
        </span>
        <div class="cours_topData">
            <h3>Extensions (beta)</h3>
            <p>Oui, vous avez bien entendu ! Vous pourrez (bientôt) étendre les fonctionnalités de Pronote+</p>
        </div>
    </div>
</div>

<script>
    setMenuTabContent(version);
</script>