<div id="ListeUser" class="liste">
    <div class="cours updateHeader" style="--off: 0ms">
        <img src="../assets/update.png">
        <h1>Bienvenue dans <span>Pronote+ 3.4</span></h1>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            notifications_active
        </span>
        <div class="cours_topData">
            <h3>C'est la rentrée !</h3>
            <p>Pronote+ est de retour avec une app encore meilleure !</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 100ms">
        <span class="material-symbols-outlined">
            speed
        </span>
        <div class="cours_topData">
            <h3>Encore plus rapide</h3>
            <p>Plein d'améliorations techniques ont rendu Pronote+ encore plus rapide qu'avant !</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 150ms">
        <span class="material-symbols-outlined">
            verified
        </span>
        <div class="cours_topData">
            <h3>Moins de bugs</h3>
            <p>Des corrections par ci et par là, Pronote+ est encore plus fort depuis les vacances</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 200ms">
        <span class="material-symbols-outlined">
            palette
        </span>
        <div class="cours_topData">
            <h3>Un nouveau menu !</h3>
            <p>Encore plus simple, compréhensible, et facile à navigauer.</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 250ms">
        <span class="material-symbols-outlined">
            temp_preferences_custom
        </span>
        <div class="cours_topData">
            <h3>Des nouvelles fonctionnalités presque prêtes</h3>
            <p>Des super features hyper demandées vont bientôt sortir du four !</p>
        </div>
    </div>
</div>

<script>
    setMenuTabContent(version);
</script>