<div id="ListeUser" class="liste">
    <div class="cours updateHeader" style="--off: 0ms">
        <img src="../assets/update.png">
        <h1>Bienvenue dans <span>Pronote+ 3.5</span></h1>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            assignment_ind
        </span>
        <div class="cours_topData">
            <h3>Photos de profil personnalisées</h3>
            <p>Montrez vous sous un nouveau jour avec votre propre photo de profil !</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            checklist
        </span>
        <div class="cours_topData">
            <h3>Affichage des devoirs sur 5 jours</h3>
            <p>Prévoyez votre travail à l'avance en voyant votre travail à faire plsu rapidement.</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            school
        </span>
        <div class="cours_topData">
            <h3>Retour des établissements pré-enregistrés</h3>
            <p>Plus de galères pour se connecter avec une URL !</p>
        </div>
    </div>

    <div class="cours file feature" style="--off: 50ms">
        <span class="material-symbols-outlined">
            square_foot
        </span>
        <div class="cours_topData">
            <h3>Design encore affiné et amélioré</h3>
            <p>Pour une app Pronote+ encore plus belle !</p>
        </div>
    </div>
</div>

<script>
    setMenuTabContent(version);
</script>