<div id="ListeUser" class="liste">

    <div class="part">
        Paramètres de Pronote+
    </div>

    <a href="#" onclick="logout()"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            meeting_room
        </span>
        <div class="cours_topData">
            <h3>Se déconnecter</h3>
            <p>Supprimer son compte de Pronote+</p>
        </div>
    </div></a>

    <a href="#" onclick="viewQuery('update', 'Notes de version', '', 'user', 'Paramètres')"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            update
        </span>
        <div class="cours_topData">
            <h3>Notes de version</h3>
            <p>Redécouvez les nouvelles fonctionnalités</p>
        </div>
    </div></a>

    <div class="part">
        Avancé
    </div>

    <a href="#" onclick="refreshToken()"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            build
        </span>
        <div class="cours_topData">
            <h3>Rafraîchir le token</h3>
            <p>Se reconnecte à votre compte Pronote</p>
        </div>
    </div></a>

    <a href="#" onclick="update()"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            refresh
        </span>
        <div class="cours_topData">
            <h3>Forcer les mises à jour</h3>
            <p>Force le rafraichissement de l'interface</p>
        </div>
    </div></a>

    <a href="#" onclick="emptyCache()"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            delete
        </span>
        <div class="cours_topData">
            <h3>Vider le cache de l'app</h3>
            <p>Supprime les données pré-téléchargées</p>
        </div>
    </div></a>

    <a href="#" onclick="viewQuery('userdata', 'Informations sur '+myName, '', 'user', 'Paramètres')"><div class="cours file" style="--off: 0ms">
        <span class="material-symbols-outlined">
            account_circle
        </span>
        <div class="cours_topData">
            <h3>Informations sur votre profil</h3>
            <p>Données de Pronote sur vous</p>
        </div>
    </div></a>

</div>

<script>
    $('#version').text(version);
    progressEnd();
</script>